.label-index-page {
  .label-list {
    width: 100%;
    height: auto;
    background-color: $color-background;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .label-index-page--add-button {
    width: 100%;
    padding: 4px 0;
  }
}
