.notification-index-page {
  .request-list {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: scroll;
    border-bottom: $border;
    .request-list--item {
      display: flex;
      justify-content: space-between;
      padding: 18px 12px;
      & + .request-list--item {
        border-top: $border;
      }

      .request-list--item--information-container {
        display: inline-block;
        .request-list--item--label-name {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .request-list--item--description {
          color: $color-text-secondary;
          word-break: break-all;
        }
      }
      .request-list--item--button-container {
        display: inline-block;
        min-width: 160px;
        text-align: right;
        .request-list--item--accept-button {
          display: inline-block;
          padding: 4px 8px;
          text-align: center;
          border-radius: $radius;
          background-color: $color-background;
          color: $color-white;
        }
        .request-list--item--refuse-button {
          display: inline-block;
          padding: 4px 8px;
          border: $border;
          text-align: center;
          border-radius: $radius;
        }
        .request-list--item--accept-button +
        .request-list--item--refuse-button {
          margin-left: 8px;
        }
      }
    }
  }

  .no-request-content {
    position: relative;
    width: 100%;
    height: 100%;
    p {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: $color-text-secondary;
      text-align: center;
      font-weight: bold;
    }
  }
}
