.task-list-item {
  display: flex;
  align-items: stretch;
  background-color: $color-background-content;
  transition: $time-basic $ease-out;
  transition-property: background, color;

  .task-list-item--complete-button,
  .task-list-item--destroy-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    svg {
      width: 24px;
    }
  }

  .task-list-item--schedule--container {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 0;
  }

  .task-list-item--content {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 16px 0;
    word-break: break-all;

    .link-text {
      text-decoration: underline;
    }
  }

  &.task-list-item__completed {
    color: $color-text-secondary;
    background-color: $color-disabled;
  }

  .task-list-item--schedule {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    color: $color-white;
    text-align: center;
    border-radius: $radius;
    vertical-align: top;

    &--month {
      position: absolute;
      top: 3px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 8px;
      line-height: 8px;
      font-size: 8px;
      vertical-align: top;
    }

    &--date {
      position: absolute;
      display: inline-block;
      top: 13px;
      left: 0;
      width: 100%;
      height: 18px;
      line-height: 18px;
      font-size: 18px;
      font-weight: $font-medium;
      vertical-align: top;
    }

    &--day {
      position: absolute;
      display: inline-block;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 8px;
      line-height: 8px;
      font-size: 8px;
      vertical-align: top;
    }

    &__jan {
      background-color: $color-season-jan;
    }

    &__feb {
      background-color: $color-season-feb;
    }

    &__mar {
      background-color: $color-season-mar;
    }

    &__apr {
      background-color: $color-season-apr;
    }

    &__may {
      background-color: $color-season-may;
    }

    &__jun {
      background-color: $color-season-jun;
    }

    &__jul {
      background-color: $color-season-jul;
    }

    &__aug {
      background-color: $color-season-aug;
    }

    &__sep {
      background-color: $color-season-sep;
    }

    &__oct {
      background-color: $color-season-oct;
    }

    &__nov {
      background-color: $color-season-nov;
    }

    &__dec {
      background-color: $color-season-dec;
    }
  }
}
