$height-tab-navigation-tab-list: 56px;

.tab-navigation-tab-list {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tab-navigation-tab-list-item {
  flex: 1;
}

.tab-navigation-content {
  width: 100%;
  height: calc(100% - $height-tab-navigation-tab-list);
}

.tab-navigation-tab-list {
  background: $color-white;
  box-shadow: 0 -1px 1px 1px $color-ui-shadow;
  height: $height-tab-navigation-tab-list;
  .tab-navigation-tab-list-item {
    text-align: center;
    color: $color-text-secondary;
    .icon-button {
      font-size: 36px;
      padding: 8px 0 12px;
    }
    &.tab-navigation-tab-list-item__current {
      color: $color-text-primary;
    }
  }
}
