.request-list-item {
  display: flex;
  justify-content: space-between;

  & + .request-list-item {
    border-top: $border;
  }

  .request-list-item--information-container {
    display: inline-block;
    padding: 12px;

    .request-list-item--label-name {
      font-size: $font-size-large;
      font-weight: $font-medium;
    }
    .request-list-item--description {
      color: $color-text-secondary;
      word-break: break-all;
    }
  }

  .request-list-item--button-container {
    display: flex;
    min-width: 160px;
    justify-content: flex-end;
  }
}
