.task-index-page {
  $height-recycle-table-content-list: 36px;

  width: 100%;
  height: 100%;

  .recycle-table-content-list {
    height: calc(100% - $height-recycle-table-content-list)!important;
  }
}
