.task-index-page {
  $height-recycle-table-content-list: 36px;

  .recycle-table-content-list {
    height: calc(100% - $height-recycle-table-content-list)!important;
  }

  /* labels-tab-content */
  .label-list-item {
    background: $color-white;
    padding: 12px;
    &.label-list-item__hidden {
      background: $color-divider;
    }
  }

  .label-list {
    .list-content {
      .list-item {
        transition: background .1s ease-out;
        .label-list-item.swipeable-view-content {
          padding: 18px 12px;

          &.swipeable-view-content__swipe_right {
            background-color: $color-divider;
          }

          &.label-list-item__unvisibled {
            background-color: $color-divider;
            &.list-item-content__swipe_right {
              background-color: $color-white;
            }
          }
        }
        .swipeable-view-background {
          color: $color-white;
          padding: 0 12px;
          & .icon {
            font-size: 24px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            transition-timing-function: $ease-out-expo;
            transition-duration: $time-basic;
            transition-property: font-size;
          }

          &__will-swipe {
            & .icon {
              font-size: 32px;
            }
          }
        }
        .swipeable-view-background__left {
          background-color: $color-primary;
          & .icon {
            justify-content: flex-start;
          }
        }
        .swipeable-view-background__right {
          background-color: $color-accent-attention;
          & .icon {
            justify-content: flex-end;
          }
        }
      }
    }
  }
  .no-label-content {
    position: relative;
    width: 100%;
    height: 100%;
    p {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: $color-text-secondary;
      text-align: center;
      font-weight: bold;
    }
  }

  /* requests-tab-content */
  .requests-tab-content {
    width: 100%;
    height: 100%;
    overflow: scroll;

    .request-list {
      .request-list--item {
        display: flex;
        justify-content: space-between;
        padding: 18px 12px;
        & + .request-list--item {
          border-top: $border;
        }

        .request-list--item--information-container {
          display: inline-block;
          .request-list--item--label-name {
            font-size: 1.2rem;
            font-weight: bold;
          }
          .request-list--item--description {
            color: $color-text-secondary;
            word-break: break-all;
          }
        }
        .request-list--item--button-container {
          display: inline-block;
          min-width: 160px;
          text-align: right;
          .request-list--item--accept-button {
            display: inline-block;
            padding: 4px 8px;
            text-align: center;
            border-radius: $radius;
            background-color: $color-primary;
            color: $color-white;
          }
          .request-list--item--refuse-button {
            display: inline-block;
            padding: 4px 8px;
            border: $border;
            text-align: center;
            border-radius: $radius;
          }
          .request-list--item--accept-button +
          .request-list--item--refuse-button {
            margin-left: 8px;
          }
        }
      }
    }

    .no-request-content {
      position: relative;
      width: 100%;
      height: 100%;
      p {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: $color-text-secondary;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  /* user-tab-content */
  .user-tab-content {
    $height: 44px;
    position: relative;
    width: 100%;
    height: 100%;
    .user-tab-content--information {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;

      .user-tab-content--username {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 24px;

        .user-tab-content--username--icon {
          display: inline-block;
          height: $height;
          position: absolute;
          top: 0;
          left: 0;
          .icon {
            /* color: $color-text-secondary; */
            font-size: $height;
          }
        }

        .user-tab-content--username--input {
          display: inline-block;
          position: relative;

          p, textarea {
            display: inline-block;
            background-color: transparent;
            font-size: 2rem;
            font-weight: bold;
            padding-left: calc($height + 16px);
            padding-right: $height;
            vertical-align: top;
            width: 100%;
            min-height: 160px;
            max-height: 320px;
            word-break: break-all;
            overflow: scroll;
            resize: none;
          }
          .icon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 0;
            font-size: 36px;
            vertical-align: text-top;
            color: $color-text-secondary;
            z-index: -1;
          }
        }
      }
      .logout-button {
        font-weight: bold;
        margin-bottom: 16px;
      }
      .delete-account-button {
        font-weight: bold;
      }
    }
  }
}
