.task-index-page {
  $height-recycle-table-content-list: 36px;

  width: 100%;
  height: 100%;

  .recycle-table-content-list {
    height: calc(100% - $height-recycle-table-content-list)!important;
  }

  /* loading labels */
  .task-index-page--content--loading {
    position: relative;
    width: 100%;
    height: 100%;
    .spinner-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* No labels, No tasks */
  .task-index-page--content--no-labels,
  .task-index-page--content--no-tasks {
    position: relative;
    width: 100%;
    height: 100%;
    .task-index-page--content--no-labels--inner,
    .task-index-page--content--no-tasks--inner {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      p {
        color: $color-text-secondary;
        font-weight: bold;
        padding: 24px;
      }
    }
  }

  .task-list {
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .task-list--item {
      display: flex;
      align-items: stretch;

      .task-list--item--complete-button,
      .task-list--item--destroy-button {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: $color-text-secondary;
      }
      .task-list--item--complete-button {
        padding: 8px;
      }
      .task-list--item--destroy-button {
        padding: 8px 12px;
      }

      .task-list--item--schedule--container {
        display: flex;
        align-items: center;
        padding: 8px 12px 8px 0;
      }

      .task-list--item--content {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 12px 0;
      }

      .task-list--item--content--loader{
        height: 1rem;
      }
      &:nth-of-type(6n+1) {.task-list--item--content--loader{width: 80%;}}
      &:nth-of-type(6n+2) {.task-list--item--content--loader{width: 48%;}}
      &:nth-of-type(6n+3) {.task-list--item--content--loader{width: 72%;}}
      &:nth-of-type(6n+4) {.task-list--item--content--loader{width: 76%;}}
      &:nth-of-type(6n+5) {.task-list--item--content--loader{width: 64%;}}
      &:nth-of-type(6n+0) {.task-list--item--content--loader{width: 60%;}}

      &__completed {
        color: $color-text-secondary;
        background-color: $color-divider;
        .task-list--item--complete-button,
        .task-list--item--destroy-button {
          .check-icon {
            .circle {
              fill: $color-divider;
            }
            .circle-inner {
              fill: $color-white;
            }
          }
          .remove-icon {
            background-color: $color-white;
          }
        }
      }
    }
  }

  .task-list--item--schedule {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    color: $color-white;
    text-align: center;
    border-radius: $radius;
    vertical-align: top;
    &--month {
      position: absolute;
      top: 3px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 8px;
      line-height: 8px;
      font-size: 8px;
      vertical-align: top;
    }
    &--date {
      position: absolute;
      display: inline-block;
      top: 13px;
      left: 0;
      width: 100%;
      height: 18px;
      line-height: 18px;
      font-size: 18px;
      font-weight: bold;
      vertical-align: top;
    }
    &--day {
      position: absolute;
      display: inline-block;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 8px;
      line-height: 8px;
      font-size: 8px;
      vertical-align: top;
    }

    &__jan {
      background-color: rgb(255, 216, 120);
    }
    &__feb {
      background-color: rgb(243, 191, 136);
    }
    &__mar {
      background-color: rgb(249, 129, 143);
    }
    &__apr {
      background-color: rgb(214, 110, 122);
    }
    &__may {
      background-color: rgb(167, 189, 0);
    }
    &__jun {
      background-color: rgb(155, 85, 128);
    }
    &__jul {
      background-color: rgb(203, 140, 45);
    }
    &__aug {
      background-color: rgb(62, 179, 112);
    }
    &__sep {
      background-color: rgb(114, 164, 106);
    }
    &__oct {
      background-color: rgb(255, 166, 0);
    }
    &__nov {
      background-color: rgb(151, 39, 58);
    }
    &__dec {
      background-color: rgb(0, 134, 173);
    }
  }
}
