.no-task-content {
  position: relative;
  width: 100%;
  height: 100%;

  .flat-button {
    color: $color-text-tertiary;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    .icon {
      width: 40px;
      vertical-align: top;
      path {
        fill: $color-text-tertiary;
      }
    }
    span {
      display: inline-block;
      vertical-align: top;
      padding: 10px 0 0;
    }
  }
}
