html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
label,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
th,
td,
img,
i,
svg,
circle,
rect {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: 1.4;
  vertical-align: baseline;
  font-feature-settings: 'palt';
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
ul {
  list-style: none;
}
h1 {
  font-weight: $font-medium;
  font-size: $font-size-xx-large;
}
h2 {
  font-weight: $font-medium;
  font-size: $font-size-x-large;
}
h3 {
  font-weight: $font-medium;
  font-size: $font-size-large;
}
h4 {
  font-weight: $font-medium;
  font-size: $font-size-medium;
}
h5 {
  font-weight: $font-medium;
  font-size: $font-size-small;
}
h6 {
  font-weight: $font-medium;
  font-size: $font-size-x-small;
}
small {
  font-size: $font-size-x-small;
}
input,
textarea,
select,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
form,
input,
textarea,
select,
button,
a {
  -webkit-user-select: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  vertical-align: top;
  width: 100%;
}
