.task-index-desktop-page {

  .application-content--inner {
    padding: 60px 16px;
  }

  .recycle-table-list-item {
    max-width: 240px;
    overflow: hidden;
  }

  .recycle-table-content-list {
    height: calc(100% - $height-mobile-bar-low)!important;
  }
}
