.desktop .label-index-page {
  .application-content {
    overflow: scroll;

    .application-content--inner {
      width: $width-desktop-content-narrow;
      padding: 48px 0;

      .label-list {
        width: 100%;
        height: auto;
        overflow: visible;
        border-top: $border;
        -webkit-overflow-scrolling: touch;
      }

      .label-index-page--add-button {
        width: 100%;
      }
    }
  }
}
