.desktop .label-list-item {
  display: flex;
  align-items: stretch;
  border-right: $border;
  border-left: $border;
  background-color: $color-background-content;
  transition: $time-basic $ease-out;
  transition-property: background, color;

  .label-list-item--visible-button,
  .label-list-item--destroy-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }

  .label-list-item--content {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 16px 0;
  }

  &__unvisibled {
    color: $color-text-secondary;
    background-color: $color-disabled;
  }
}
