.label-index-desktop-page {
  .application-content {
    padding: 60px 0;

    .application-content--inner {
      max-width: $width-desktop-content;
    }
  }

  .tab-navigation-content {
    overflow: scroll;

    .label-list {
      width: 100%;
      height: auto;
      overflow: visible;
      -webkit-overflow-scrolling: touch;
    }

    .label-index-desktop-page--add-button {
      width: 100%;
    }
  }
}
