html,
body,
section,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
label,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
th,
td,
i {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: 1.4;
  vertical-align: baseline;
  font-feature-settings: "palt";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
small {
  font-size: 0.8rem;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
form,
input,
textarea,
select,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

