.search-member-list-item {
  height: $height-mobile-bar-high;

  .search-member-list-item--image-container {
    display: inline-block;
    padding: calc(($height-mobile-bar-high - 32px) / 2 - 1px);

    .img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: $border;
    }
  }

  p {
    display: inline-block;
    width: calc(100% - $height-mobile-bar-high - 12px);
    line-height: $height-mobile-bar-high;
    vertical-align: top;
    overflow: hidden;
    word-break: break-all;
  }
}
