.sheet {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-transparent;
  transition: $time-fast $ease-out;
  transition-property: background;
  z-index: 2;

  .sheet--content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-background-content;
    box-shadow: $shadow-inverse;
    transition: $time-basic $ease-out-expo;
    transition-property: transform;
    transform: translate(0, 100%);
  }

  &.sheet__enter {
    background: $color-transparent;

    .sheet--content {
      transform: translate(0, 100%);
    }
  }

  &.sheet__enter-active {
    background: $color-shadow;

    .sheet--content {
      transform: translate(0, 0);
    }
  }

  &.sheet__enter-done {
    background: $color-shadow;

    .sheet--content {
      transform: translate(0, 0);
    }
  }

  &.sheet__exit {
    background: $color-shadow;

    .sheet--content {
      transform: translate(0, 0);
      background: $color-background-content;
    }
  }

  &.sheet__exit-active {
    background: $color-transparent;

    .sheet--content {
      transform: translate(0, 100%);
    }
  }
}
