.sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-shadow;
  z-index: 2;

  .sheet--content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-background-content;
    box-shadow: $shadow;
  }
}
