.task-form {
  background-color: $color-background-content;

  .task-form--content-input {
    width: 100%;
    height: $height-mobile-bar-middle;
    padding: 0 12px;
    border-bottom: $border;
  }

  .icon {
    display: inline-block;
    height: $height-mobile-bar-middle;
    padding: 6px 6px 8px;

    path {
      stroke: $color-icon-active;
    }
  }

  .task-form--button-box {
    display: flex;
    height: $height-mobile-bar-middle;

    .task-form--button-box--select-box {
      flex: 1;
      display: flex;
      width: 100%;
      height: $height-mobile-bar-middle;

      select {
        flex: 1;
        display: inline-block;
        vertical-align: top;
        background: transparent;
        height: $height-mobile-bar-middle;
      }
    }

    .task-form--button-box--button {
      background-color: $color-background-content;
    }
  }
}
