.task-form {
  background-color: $color-background-content;

  .task-form--content-input {
    width: 100%;
    height: $height-mobile-bar-middle;
    padding: 0 12px;
    border-bottom: $border;
  }

  .task-form--label-select-box {
    border-bottom: $border;
    height: $height-mobile-bar-middle;

    .icon {
      display: inline-block;
      height: $height-mobile-bar-middle;
      padding: 6px 6px 8px;

      path {
        stroke: $color-icon-active;
      }
    }

    .task-form--label-select-box--select {
      display: inline-block;
      vertical-align: top;
      background: transparent;
      width: calc(100% - $height-mobile-bar-middle - 2px - 12px);
      height: $height-mobile-bar-middle;
    }
  }

  .task-form--button-box {
    height: $height-mobile-bar-middle;
    text-align: right;

    .task-form--button-box--button {
      background-color: $color-background-content;

      .icon {
        display: inline-block;
        height: $height-mobile-bar-middle;
        padding: 6px 6px 8px;

        path {
          stroke: $color-icon-active;
        }
      }
    }
  }
}
