.login-mobile-page {
  position: relative;

  .login-mobile-page--content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 92%;
    text-align: center;
    transform: translate(-50%, -50%);

    .logo {
      width: 240px;
      margin-bottom: 24px;
    }

    .login-mobile-page--content--description {
      margin-bottom: 36px;
      color: $color-text-secondary;
    }

    .login-mobile-page--flat-button {
      display: block;
      color: $color-background;
      width: 100%;
      max-width: 240px;
      background-color: $color-text-secondary;
      margin: 0 auto 16px;

      &.login-mobile-page--flat-button__facebook {
        background-color: $color-facebook;
      }
    }
  }
}
