.icon-link  {
  $size: 48px;

  display: inline-block;
  color: $color-text-hint;

  .icon {
    width: $size;
    padding: 8px;
    vertical-align: top;

    path {
      fill: $color-icon-inactive;
    }
  }

  span {
    display: inline-block;
    vertical-align: top;
    font-weight: $font-medium;
    line-height: $size;
  }
}
