.notification-index-desktop-page {

  .application-content {
    padding: 60px 0;

    .application-content--inner {
      max-width: $width-desktop-content;
    }
  }

  .request-list {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: scroll;
  }
}
