.application-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.application-content {
  position: absolute;
  top: $height-desktop-bar-high;
  width: 100%;
  height: calc(100% - $height-desktop-bar-high);
}

.application-header {
  background-color: $color-background-content;
  box-shadow: $shadow-inverse;
  height: $height-desktop-bar-high;
  .application-header-item {
    display: inline-block;
    text-align: center;
    position: relative;
    color: $color-text-secondary;
    .application-header--icon {
      padding: 6px 0 8px;
      height: $height-desktop-bar-high;
      path,
      circle,
      rect {
        stroke: $color-icon-inactive;
      }
    }
    .application-header--icon--badge {
      display: inline-block;
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% + 6px);
      width: 8px;
      height: 8px;
      background-color: $color-attention;
      z-index: 1;
      border-radius: 50%;
    }
    &.application-header-item__current {
      .application-header--icon {
        path,
        circle,
        rect {
          stroke: $color-icon-active;
        }
      }
    }
  }
}
