.flat-button {
  display: inline-block;
  color: $color-text;
  border-radius: $radius;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: $font-medium;
  background-color: $color-background;
}

@media screen and (min-width: $breakpoint-narrow) {
  .flat-button {
    padding: 12px 16px;
  }
}
