/* https://material.io/guidelines/style/color.html#color-color-palette */
$color-transparent: rgba(0, 0, 0, 0);
/* $color-black: #000; */
$color-white: #fff;
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
/* $color-grey-200: #eeeeee; */
$color-grey-300: #e0e0e0; /* rgba(0, 0, 0, .12) */
/* $color-grey-400: #bdbdbd; */
$color-grey-500: #9e9e9e; /* rgba(0, 0, 0, .38); */
$color-grey-600: #757575; /* rgba(0, 0, 0, .54); */
/* $color-grey-700: #616161; */
$color-grey-800: #424242;
$color-grey-900: #212121; /* rgba(0, 0, 0, .87); */
$color-red-a700: #d50000;
$color-green-a700: #00c853;

$color-text: $color-grey-900;
$color-text-secondary: $color-grey-600;
$color-text-hint: $color-grey-500;
$color-divider: $color-grey-300;
$color-icon-active: $color-grey-800;
$color-icon-inactive: $color-grey-500;
$color-shadow: rgba(0, 0, 0, 0.12);
$color-background: $color-grey-50;
$color-background-bar: $color-white;
$color-background-content: $color-white;
$color-attention: $color-red-a700;
$color-positive: $color-green-a700;
$color-disabled: #ededed;

/* Validation */
/* $color-text: steelblue; */
/* $color-text-secondary: royalblue; */
/* $color-text-hint: dodgerblue; */
/* $color-divider: limegreen; */
/* $color-icon-active: gold; */
/* $color-icon-inactive: darkorange; */
/* $color-shadow: orange; */
/* $color-background: gray; */
/* $color-attention: magenta; */

/* Application */
$color-facebook: #3b5998;
$color-season-jan: rgb(255, 216, 120);
$color-season-feb: rgb(243, 191, 136);
$color-season-mar: rgb(249, 129, 143);
$color-season-apr: rgb(214, 110, 122);
$color-season-may: rgb(167, 189, 0);
$color-season-jun: rgb(155, 85, 128);
$color-season-jul: rgb(203, 140, 45);
$color-season-aug: rgb(62, 179, 112);
$color-season-sep: rgb(114, 164, 106);
$color-season-oct: rgb(255, 166, 0);
$color-season-nov: rgb(151, 39, 58);
$color-season-dec: rgb(0, 134, 173);
