$ease-out: ease-out;
$ease-out-expo: cubic-bezier(0.19, 1, 0.32, 1);

$time-fast: 175ms;
$time-basic: 200ms;

$font-family: 'Noto Sans JP', 'Noto Sans Japanese', 'Helvetica Neue', sans-serif;
$font-regular: 400;
$font-medium: 500;
/* 112px / 56px / 45px / 34px / 24px / 20px / 16px / 14px / 12px */
$font-size-xx-large: 34px;
$font-size-x-large: 24px;
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
$font-size: $font-size-medium;

$radius: 2px;
$shadow: 0 1px 1px 0 $color-shadow;
$shadow-inverse: 0 -1px 1px 0 $color-shadow;
$border: solid 1px $color-divider;

$breakpoint-narrow: 480px;
$breakpoint-wide: 768px;

$height-desktop-bar-high: 64px;
$height-desktop-bar-middle: 56px;
$height-desktop-bar-low: 48px;
$margin-desktop-screen-edge: 24px;
$margin-desktop-screen-edge-content: 80px;
$height-desktop-list-item: 64px;

$height-mobile-bar-high: 56px;
$height-mobile-bar-middle: 48px;
$height-mobile-bar-low: 36px;
$margin-mobile-screen-edge: 12px;
$margin-mobile-screen-edge-content: 48px;
$height-mobile-list-item: 56px;

$width-desktop-content: 596px;
