.desktop .notification-index-page {
  .application-content--inner {
    width: $width-desktop-content-narrow;
    padding: 48px 0;
  }

  .request-list {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: scroll;
    background-color: #fff;
  }
}
