.desktop .notification-index-page {
  .application-content--inner {
    padding: 0 32px;
  }

  .request-list {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: scroll;
    border-bottom: $border;
  }
}
