.mobile .login-page {
  position: relative;

  .login-page--content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 92%;
    text-align: center;
    transform: translate(-50%, -50%);

    .login-page--content--heading {
      margin-bottom: 12px;
    }

    .login-page--content--description {
      /* font-size: .8rem; */
      margin-bottom: 36px;
      color: $color-text-secondary;
    }

    .login-page--flat-button {
      display: block;
      color: $color-background;
      width: 100%;
      max-width: 240px;
      background-color: $color-text-secondary;
      margin: 0 auto 16px;

      &.login-page--flat-button__facebook {
        background-color: $color-facebook;
      }
    }
  }
}
