.task-page {
  $height: 56px;

  .task-page--header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $height;
    box-shadow: $shadow;
    background-color: $color-white;

    a,
    button {
      background-color: $color-white;
      display: inline-block;
      height: $height;
      svg {
        height: $height;
        padding: 6px 8px 8px;
        path {
          stroke-width: 3;
          stroke: $color-text-primary;
        }
      }
    }
  }

  .task-page--label-block {
    border-bottom: $border;
    height: $height;

    .icon {
      display: inline-block;
      height: $height;
      padding: 6px 8px 8px;
      path {
        stroke-width: 3;
        stroke: $color-text-primary;
      }
    }
    select {
      display: inline-block;
      vertical-align: top;
      background: transparent;
      width: calc(100% - $height - 4px);
      height: $height;
    }
  }

  input {
    padding: 12px;
  }
}
