.task-page {
  .task-page--header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $height-bar-high;
    box-shadow: $shadow;
    background-color: $color-background;

    a,
    button {
      background-color: $color-background;
      display: inline-block;
      height: $height-bar-high;
      svg {
        height: $height-bar-high;
        padding: 6px 8px 8px;
        path {
          stroke: $color-icon-active;
        }
      }
    }
  }

  .task-page--label-block {
    border-bottom: $border;
    height: $height-bar-high;

    .icon {
      display: inline-block;
      height: $height-bar-high;
      padding: 6px 8px 8px;
      path {
        stroke: $color-icon-active;
      }
    }
    select {
      display: inline-block;
      vertical-align: top;
      background: transparent;
      width: calc(100% - $height-bar-high - 2px - 12px);
      height: $height-bar-high;
    }
  }

  .task-page--task-content-input {
    width: 100%;
    padding: 12px;
    background-color: $color-background;
  }
}
