.label-page {
  $height: 56px;

  .label-page--header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $height;
    box-shadow: $shadow;
    background-color: $color-white;

    a,
    button {
      background-color: $color-white;
      display: inline-block;
      width: $height;
      height: $height;
      svg {
        height: $height;
        padding: 6px 8px 8px;
        path {
          stroke-width: 3;
          stroke: $color-text-primary;
        }
      }
    }
  }

  .label-page--member-block {
    position: relative;
    border-bottom: $border;
    height: $height;

    .icon {
      display: inline-block;
      height: $height;
      padding: 6px 8px 8px;
      path {
        stroke-width: 3;
        stroke: $color-text-primary;
      }
    }
    input {
      display: inline-block;
      vertical-align: top;
      background: transparent;
      width: calc(100% - $height - 4px);
      height: $height;
    }
    .label-page--member-block--error {
      display: inline-block;
      width: 100%;
      padding: 4px 12px;
      color: $color-accent-attention;
    }
    .label-page--member-block--content {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
      background-color: $color-white;
      box-shadow: $shadow;
      h2 {
        padding: 12px;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: $border;
      }
      ul {
        li {
          height: $height;
          p {
            display: inline-block;
            line-height: $height;
            vertical-align: top;
          }
        }
      }
      /* No members */
      .label-page--member-block--content--no-result {
        padding: 12px;
      }
    }
  }

  .label-page--member-list {
    padding: 8px 12px;
    border-bottom: $border;
    li {
      display: inline-block;
      border: $border;
      border-radius: $radius;
      padding: 4px 8px;
      & + li {
        margin-left: 8px;
      }
    }

    &:empty {
      border: 0;
      padding: 0;
    }
  }

  input {
    padding: 12px;
  }
}
