.indicator {
  $height: 2px;
  $animation: 3000ms linear infinite alternate;

  position: fixed;
  top: -$height;
  left: 0;
  width: 100%;
  height: $height;
  z-index: 2;
  transition: top 200ms ease-out 160ms;

  .indicator-color1 {
    animation: indicator-color1 $animation;
  }
  .indicator-color2 {
    animation: indicator-color2 $animation;
  }
  .indicator-color3 {
    animation: indicator-color3 $animation;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    #indicator {
      fill: url("#indicator-gradient");
    }
  }

  &.indicator__active {
    top: 0;
  }
}

@keyframes indicator-color1 {
  0% {
    stop-color: $color-season-jan;
  }
  9% {
    stop-color: $color-season-feb;
  }
  18% {
    stop-color: $color-season-mar;
  }
  27% {
    stop-color: $color-season-apr;
  }
  36% {
    stop-color: $color-season-may;
  }
  45% {
    stop-color: $color-season-jun;
  }
  54% {
    stop-color: $color-season-jul;
  }
  63% {
    stop-color: $color-season-aug;
  }
  72% {
    stop-color: $color-season-sep;
  }
  81% {
    stop-color: $color-season-oct;
  }
  90% {
    stop-color: $color-season-nov;
  }
  100% {
    stop-color: $color-season-dec;
  }
}

@keyframes indicator-color2 {
  0% {
    stop-color: $color-season-dec;
  }
  9% {
    stop-color: $color-season-jan;
  }
  18% {
    stop-color: $color-season-feb;
  }
  27% {
    stop-color: $color-season-mar;
  }
  36% {
    stop-color: $color-season-apr;
  }
  45% {
    stop-color: $color-season-may;
  }
  54% {
    stop-color: $color-season-jun;
  }
  63% {
    stop-color: $color-season-jul;
  }
  72% {
    stop-color: $color-season-aug;
  }
  81% {
    stop-color: $color-season-sep;
  }
  90% {
    stop-color: $color-season-oct;
  }
  100% {
    stop-color: $color-season-nov;
  }
}

@keyframes indicator-color3 {
  0% {
    stop-color: $color-season-nov;
  }
  9% {
    stop-color: $color-season-dec;
  }
  18% {
    stop-color: $color-season-jan;
  }
  27% {
    stop-color: $color-season-feb;
  }
  36% {
    stop-color: $color-season-mar;
  }
  45% {
    stop-color: $color-season-apr;
  }
  54% {
    stop-color: $color-season-may;
  }
  63% {
    stop-color: $color-season-jun;
  }
  72% {
    stop-color: $color-season-jul;
  }
  81% {
    stop-color: $color-season-aug;
  }
  90% {
    stop-color: $color-season-sep;
  }
  100% {
    stop-color: $color-season-oct;
  }
}
