.task-index-desktop-page {
  $width-side: 324px;

  .application-content {
    padding: 60px 0;

    .application-content--inner {
      width: calc($width-desktop-content + $width-side);
    }
  }

  .layered-parent-list {
    display: inline-block;
    width: $width-side;

    .layered-parent-list-item {
      padding: 4px 0;
      font-weight: $font-medium;
      word-break: break-all;
      color: $color-text-hint;
      cursor: pointer;

      svg {
        vertical-align: middle;
        height: 30px;
        margin-right: 4px;

        path,
        circle,
        rect {
          stroke: $color-icon-inactive;
        }
      }
    }
    .layered-parent-list-item__active {
      color: $color-text;

      svg {
        path,
        circle,
        rect {
          stroke: $color-icon-active;
        }
      }
    }
  }

  .layered-child-list {
    vertical-align: top;
    display: inline-block;
    width: $width-desktop-content;
    overflow: hidden;

    .no-task-content {
      min-height: 320px;
    }
  }
}
