/* http://google.github.io/material-design-icons/ */

.visibility-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px $color-divider;
  background-color: $color-background;
}

.remove-icon {
  width: 18px;
  height: 2px;
  border-radius: $radius;
  background-color: $color-divider;
}

.icon {
  min-width: 24px;

  /* Icon: check */
  &.icon__check {
    .icon__check--circle {
      cx: 50;
      cy: 50;
      r: 36;
      fill: $color-text-secondary;
      transition: .2s ease-out;
      transition-property: fill;
    }
    .icon__check--circle--inner {
      cx: 50;
      cy: 50;
      r: 30;
      fill: $color-white;
      transition: .2s ease-out;
      transition-property: r;
    }
  }
  &.icon__active {
    .icon__check--circle {
      fill: $color-white;
    }
    .icon__check--circle--inner {
      r: 0;
    }
  }

  /* Icon: remove */
  &.icon__remove {
    .icon__remove--rect {
      $width: 64;
      $height: 6;
      x: calc((100 - $width) / 2);
      y: calc((100 - $height) / 2);
      width: $width%;
      height: $height%;
      fill: $color-text-secondary;
      transition: .2s ease-out;
      transition-property: fill;
    }
  }
  &.icon__active {
    .icon__remove--rect {
      fill: $color-white;
    }
  }
}
