/* http://google.github.io/material-design-icons/ */

.visibility-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px $color-divider;
  background-color: $color-background;
}

.remove-icon {
  width: 18px;
  height: 2px;
  border-radius: $radius;
  background-color: $color-divider;
}

.spinner-icon {
  display: inline-block;

  #spinner {
    box-sizing: border-box;
    stroke: $color-loader;
    stroke-width:3px;
    transform-origin: 50%;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

.check-icon {
  .circle {
    cx: 50;
    cy: 50;
    r: 50;
    fill: $color-divider;
    transition: .2s ease-out;
    transition-property: fill;
  }
  .circle-inner {
    cx: 50;
    cy: 50;
    r: 40;
    fill: #fff;
    transition: .2s ease-out;
    transition-property: r;
  }
  &.icon__active {
    .circle {
      fill: $color-white;
    }
    .circle-inner {
      r: 0;
    }
  }
}
