.desktop .label-page {
  .label-page--header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $height-bar-high;
    box-shadow: $shadow;
    background-color: $color-background;

    a,
    button {
      background-color: $color-background;
      display: inline-block;
      width: $height-bar-high;
      height: $height-bar-high;
      svg {
        height: $height-bar-high;
        padding: 6px 8px 8px;
        path {
          stroke: $color-icon-active;
        }
      }
    }
  }

  .label-page--member-block {
    position: relative;
    border-bottom: $border;
    height: $height-bar-high;

    .icon {
      display: inline-block;
      height: $height-bar-high;
      padding: 6px 8px 8px;
      path {
        stroke: $color-icon-active;
      }
    }
    input {
      display: inline-block;
      vertical-align: top;
      background: transparent;
      width: calc(100% - $height-bar-high - 4px);
      height: $height-bar-high;
    }
    .label-page--member-block--error {
      display: inline-block;
      width: 100%;
      padding: 4px 12px;
      color: $color-attention;
    }
    .label-page--member-block--content {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 1;
      background-color: $color-background;
      box-shadow: $shadow;
      h2 {
        padding: 12px;
        font-size: 1rem;
        font-weight: $font-medium;
        border-bottom: $border;
      }
      ul {
        li {
          height: $height-bar-high;
          p {
            display: inline-block;
            line-height: $height-bar-high;
            vertical-align: top;
          }
        }
      }
      /* No members */
      .label-page--member-block--content--no-result {
        padding: 12px;
      }
    }
  }

  .label-page--member-list {
    padding: 8px 12px;
    border-bottom: $border;
    li {
      display: inline-block;
      border: $border;
      border-radius: $radius;
      padding: 4px 8px;
      & + li {
        margin-left: 8px;
      }
    }

    &:empty {
      border: 0;
      padding: 0;
    }
  }

  .label-page--label-name-textarea {
    width: 100%;
    padding: 12px;
    background-color: $color-background;
    resize: none;
  }
}
