$height-tab-navigation-tab-list: 56px;

.tab-navigation-tab-list {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.tab-navigation-tab-list-item {
  flex: 1;
}

.tab-navigation-content {
  width: 100%;
  height: calc(100% - $height-tab-navigation-tab-list);
}

.tab-navigation-tab-list {
  background: $color-white;
  box-shadow: 0 -1px 1px 1px $color-ui-shadow;
  height: $height-tab-navigation-tab-list;
  .tab-navigation-tab-list-item {
    text-align: center;
    position: relative;
    color: $color-text-secondary;
    .tab-navigation--icon {
      padding: 6px 0 8px;
      height: 100%;
      path,
      circle,
      rect {
        stroke-width: 3;
        stroke: $color-text-secondary;
      }
    }
    .tab-navigation--icon--badge {
      display: inline-block;
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% + 6px);
      width: 8px;
      height: 8px;
      background: $color-accent-attention;
      z-index: 1;
      border-radius: 50%;
    }
    &.tab-navigation-tab-list-item__current {
      .tab-navigation--icon {
        path,
        circle,
        rect {
          stroke: $color-text-primary;
        }
      }
    }
  }
}
