.flat-button {
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  font-weight: $font-bold;
  color: $color-text-primary;
  background-color: $color-background;
}
