.label-list-item {
  display: flex;
  align-items: stretch;
  background-color: $color-background-content;
  transition: $time-basic $ease-out;
  transition-property: background, color;

  .label-list-item--visible-button,
  .label-list-item--destroy-button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    svg {
      width: 24px;
    }
  }

  .label-list-item--content {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;

    .label-list-item--content--profile-image {
      position: absolute;
      right: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: $border 2px;
      z-index: 0;

      &:nth-of-type(1) {
        right: 0;
        z-index: 1;
      }
      &:nth-of-type(2) {
        right: 12px;
        z-index: 2;
      }
      &:nth-of-type(3) {
        right: 24px;
        z-index: 3;
      }
      &:nth-of-type(4) {
        right: 36px;
        z-index: 4;
      }

      &.label-list-item--content--profile-image__accepted {
        border-color: $color-positive;
      }
    }
  }

  &__unvisibled {
    color: $color-text-secondary;
    background-color: $color-disabled;
  }
}
